@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins" !important;
}

html, body{
  background: rgb(218, 236, 218) !important;
}

*:focus{
  outline: none;
}

.d-flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}


#Navbar{
  background: linear-gradient(230deg,rgb(24, 228, 211), rgb(140, 207, 33));
}

#Navbar-logo{
  letter-spacing: 2px !important; 
  margin: .5rem 3rem;
  color: white;
}

#Navbar-inputs input{
  padding: .3rem;
  background: rgba(128, 128, 128, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: .5rem 0 0 .5rem;
  color: white;
  
}
#Navbar-inputs input::placeholder, select {
  color: rgba(255, 255, 255, 0.7);
  opacity: 1; /* Firefox */
}

#Navbar-inputs select{
  padding: .3rem;
  background: rgba(128, 128, 128, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0 .5rem .5rem 0;
  /* color: white; */
}